<header
  class="fixed top-0 left-0 z-50 flex items-center justify-between w-full px-8 py-2 bg-white border-b h-fit border-slate-200 shadow-2xs"
>
  <div class="flex items-center gap-3">
    <img src="assets/images/Logo_querHR.png" alt="egeplast" class="hidden h-9 lg:block" />
    <img src="assets/images/egeplastlogo.png" alt="egeplast" class="h-10 lg:hidden" />
    <span class="text-sm font-medium text-slate-500 lg:text-lg border-l pl-3 border-slate-200"
      >MES EXT-2</span
    >
  </div>

  <div class="flex items-center gap-6">
    <nav class="hidden gap-6 lg:flex">
      @for (item of navItems; track item.label) {
        <a [href]="item.url" target="_blank" class="flex items-center gap-2 group">
          <div
            class="w-6 h-6 rounded bg-[#e0f2fe] flex items-center justify-center group-hover:bg-[#006db7] transition-colors"
          >
            <svg
              class="w-4 h-4 text-[#006db7] group-hover:text-white"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                [attr.d]="item.iconPath"
              ></path>
            </svg>
          </div>
          <span class="text-sm transition-colors text-slate-600 group-hover:text-[#006db7]">{{
            item.label
          }}</span>
        </a>
      }
    </nav>

    @if (userData(); as user) {
      <div class="flex items-center gap-3">
        <div class="hidden lg:flex flex-col justify-center text-right">
          <span
            class="text-sm font-semibold text-slate-700 leading-tight truncate max-w-[180px]"
            >{{ user.displayName }}</span
          >
          @if (user.jobTitle) {
            <span
              class="text-xs text-slate-500 leading-tight mt-0.5 truncate max-w-[180px]"
              >{{ user.jobTitle }}</span
            >
          }
        </div>
        <div
          class="w-10 h-10 flex items-center justify-center rounded-full bg-[#e0f2fe] text-[#006db7] overflow-hidden flex-shrink-0"
        >
          @if (profilePicture()) {
            <img
              [src]="profilePicture()"
              alt=""
              class="w-10 h-10 rounded-full object-cover"
            />
          } @else {
            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
              />
            </svg>
          }
        </div>
      </div>
    }
  </div>
</header>
